{% extends 'base.html' %}
{% block content %}
{% load static %}


<head>
  <title>Tüm Terimler</title>
  <link rel="stylesheet" href="{% static 'cm2dict\css\allterms.css' %}">

</head>

<body>
  <div class="container">

      <form class="d-flex" method=POST action="{% url 'search_allterms_view' %}" style="padding-bottom:2vw; padding-top:2vw;">
        {% csrf_token %}
        <input class="form-control me-2" list="allterms" autocomplete="off"
          type="search" placeholder="Tüm terimlerde arayın" aria-label="Search" name="searched">
        <datalist id="allterms">
          {% for item in items %}
            <option value="{{ item.eng }}">
            <option value="{{ item.tr }}">
          {% endfor %}
        </datalist>
        <button class="btn btn-secondary" type="submit">Ara</button>
      </form>


        <center>
          <table class="table table-hover sortable" id="myTable" style="table-layout: fixed; width: 100%">
            <thead>
              <tr>
                <th onclick="sortTable(0)" scope="col">English</th>
                <th onclick="sortTable(1)" scope="col">Türkçe</th>
              </tr>
            </thead>
            <tbody>

            {% for item in items %}
            <tr class="item">
              <td>
                  <form action="{% url 'translator_view' %}" method="post">
                      {% csrf_token %}
                      <input class="button" type="submit" style="word-wrap: break-word; text-overflow: ellipsis; overflow: hidden; border:0px solid black; background-color: transparent; color:blue; text-decoration:none" name="allterms_translate" value="{{ item.eng }}"><br>
                  </form>
              </td>
              <td>
                  <form action="{% url 'translator_view' %}" method="post">
                      {% csrf_token %}
                      <input class="button" type="submit" style="word-wrap: break-word; keep-all; border:0px solid black; background-color: transparent; color:blue; text-decoration:none" name="allterms_translate" value="{{ item.tr }}"><br>
                    </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </center>
        </div>
        <script>
          function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
              //start by saying: no switching is done:
              switching = false;
              rows = table.rows;
              /*Loop through all table rows (except the
              first, which contains table headers):*/
              for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch= true;
                    break;
                  }
                } else if (dir == "desc") {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
              }
              if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount ++;
              } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
                }
              }
            }
          }
        </script>

</body>

{% endblock content %}
