{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'cm2dict\css\contact.css' %}">
</head>

<form action="" method="post">
   {% csrf_token %}
   {{ form }}
   <center><input type="submit" value="Gönder"></center>
</form>
<center>
<h6 style="padding-top:2vw"> Başka bir konuda bizimle iletişime geçmek isterseniz lütfen tıklayın: </h6>
<a href="https://www.sempro.com.tr/tr/iletisim">Sempro İletişim Sayfası<a>
</center>

{% endblock content %}
