{% extends 'base.html' %}
{% block content %}
        <div class="container">
        {% for post in post_list %} <!__template tags, post_list is a view we will define it in views.py__>
            <div class="card m-3">
                <div class= "card-body">
                    <h2 class="card-title">
                        {{post.title}}
                    </h2>
                    <p class="card-text">
                        {{post.content | slice:"400"}} <!__caracters that we want to display(its a django filter)__>
                    </p>
                    <p class="card-text">
                        Author: {{post.author | title}} <!__to make ezgi Ezgi(its a django filter)__>
                    </p>
                    <a  class="btn btn-primary" href="{% url 'blog_view' post.slug %}">read more</a>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock content %}
