{% extends 'base.html' %}
{% block content %}
<div class="container">
    <center>
      {% if searched %}
        {% if words %}
          <table class="table table-hover">
            <div class="table-responsive">
              <table class="table align-middle">
                <thead>
                  <tr>
                    <th scope="col">English</th>
                    <th scope="col">Türkçe</th>
                    <th scope="col">Definition</th>
                    <th scope="col">Tanım</th>
                  </tr>
                </thead>
                <tbody>

                {% for word in words %}

                <tr>
                  <td>{{ word.eng }}</td>
                  <td>{{ word.tr }}</td>
                  <td>{{ word.dfn }}</td>
                  <td>{{ word.tnm }}</td>

                </tr>

                {% endfor %}
              </tbody>
            </div>
          </table>
          <h4>
            <a class="btn btn-secondary" href="{% url 'display_allterms_view'%}">Tüm terimlere geri dön.</a>
          </h4>
          <p style="padding-top:1vw">
            <a href="{% url 'contact_view'%}">Bu kelime için başka bir çeviri öner</a>
          </p>
        {% else %}
        <h1 style="padding:2vw"> Bu kelimeyi bulamadık. </h1>
        <a class="btn btn-secondary" href="{% url 'display_allterms_view'%}">Tüm terimlere geri dön.</a>
        <p style="padding-top:1vw"><a href="{% url 'contact_view'%}">Bu kelime için bir çeviri öner</a></p>
        {% endif %}
      {% else %}
        <h1 style="padding:2vw"> Arama çubuğuna herhangi bir şey yazmadınız. </h1>
        <a class="btn btn-secondary" href="{% url 'display_allterms_view'%}">Tüm terimlere geri dön.</a>
      {% endif %}

</div>

{% endblock content %}
